body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* HEADER */
.cabecalho {
    background: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

/* MENU */
.menu a {
    margin: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

/* FORM */
.pesquisa {
    margin-top: 10px;
}

/* BANNER */
.banner {
    background: url('https://picsum.photos/800/300');
    background-size: cover;
    background-position: center;
    padding: 80px;
    text-align: center;
    color: white;
}

/* SEÇÃO JOGADORES */
.jogadores {
    padding: 20px;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* CARD */
.card {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px;
    width: 200px;
    position: relative;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

/* SOBRE */
.sobre {
    padding: 20px;
    text-align: center;
}

/* RODAPÉ */
.rodape {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}
.menu {
    width: 100%;
}

@media (max-width: 768px) {

    /* TESTE (pode apagar depois) */
    body {
        background: #e6f2ff;
    }

    .menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.menu a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

    /* PESQUISA */
    .pesquisa input {
        width: 80%;
    }

    /* BANNER */
    .banner {
        padding: 40px 10px;
    }

    /* CARDS */
    .lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

}
.menu {
    background: red !important;
}



